* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    height: 100vh;
    padding: 30px 0;
    background-color: rgb(19, 21, 22);
    color: rgb(206, 202, 196);

}

.container {
    margin: 0 auto;
    width: 80%;
    height: auto;
    border-radius: 6px;

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(38, 42, 43);
        padding: 18px;
    }

    &__title {
        margin-bottom: 16px;
        font-size: clamp(1.25rem, 4vw, 2rem);

        @media(max-width: 520px) {
            text-align: center;
        }
    }

    &__form {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
        width: 80%;
        gap: 8px;

        @media(max-width: 520px) {
            width: 95%;
        }
    }

    &__labelspace {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin-bottom: 8px;

        input {
            background-color: rgb(44, 48, 50);
            width: 100%;
            height: 30px;
            border-radius: 4px;
            padding-left: 8px;
            color: rgb(206, 202, 196);
        }

        @media(max-width: 520px) {
            width: 100%;
        }
    }

    &__button {
        background-color: rgb(81, 87, 91);
        padding: 4px 38px;
        border: none;
        cursor: pointer;
        color: rgb(206, 202, 196);
    }

    &__initial {
        h2 {
            margin-top: 80px;
            text-align: center;
            font-size: clamp(3rem, 4vw, 4rem);
        }
    }

    &__warning {
        margin-top: 40px;

        ul {
            padding: 18px;

            li {
                padding-top: 5px;
                text-align: justify;
            }
        }
    }

    &__textResult {
        display: none;
        margin-top: 45px;
        margin-bottom: 8px;
    }

    &__titleresult {
        width: auto;
        margin-bottom: 45px;
        font-size: 10rem;
        text-align: center;
    }

    &__list {
        display: flex;
        margin: 0 auto;
        width: 85%;
        gap: 8px;
        list-style: none;
        overflow-x: auto;
        font-size: 2rem;

        @media(max-width: 520px) {
            width: 100%;
        }
    }

    @media (max-width: 520px) {
        width: 95%;
    }
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 8px;
    width: 100%;

    &__paragrafo {
        color: #7a7a7a;

        a {
            text-decoration: none;
            color: #ffffff;
            transition: 0.6s;

            &:hover {
                color: #a0a0a0;
            }
        }
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}